.back img{
    width: 100%;
    
}
.aot{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
    max-width: 600px;
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
    background-color: white;
    margin-bottom: 100px;
    

}
.aot form{
    padding: 20px;
}

.but {
    background-color: lightblue;;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: black;
  }
  .but:hover {
      background-color: cadetblue;
  }
  .frm input[type = number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
.frm input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
