 .contain{
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-evenly;
    
}
.box{
    background-color:  #007dc5;
    
}
.box1{
    background-color: white;
    max-width: 700px;

    
}
.heading{
    background-color:white;
    font-family:'Lato', sans-serif;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 25px;
}
.add{
    padding: 50px;
    font-family:'Roboto', sans-serif;
    
}
.box1 .my h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007dc5; ;
    font-size: 50px;
}
.my i {
    display: inline;
    margin-right: 15px;
    color: white;
}
.my{
    margin-bottom: 30px;
}
.addes p{
     margin-bottom: 12px;
    font-size: 17px;
    
}
.line1{
    height: 2px;
    width: 100%;
    background: #ff9800;
    margin: 10px 0px 15px 0px;
}
.my-form input[type=text], input[type=password],textarea, input[type = number] {
    width:80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .input{
      width: 50%;
      float: left;
    
      
  }
  .input1 select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 20px 0px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    max-width: 270px;
  }
.input1 textarea{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}

.box1 button{
    padding: 20px;
    background-color:#007dc5;;
    font-size: 17px;
    font-family:'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    outline: none;

}


.box1 .add {
    padding: 0px 50px 50px 50px;
}

.below{
    background-color: white;
}

.in-card  {
    
    padding: 20px; 
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.in-card a{
    text-decoration: none;
    color: black;
}
.in-card i{
    font-size: 50px;
    color: #007dc5;
    text-align: center;
    margin-bottom: 12px;
  
}
.in-card p{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}
.line3{
    height: 2px;
    width: 100%;
    background: #ff9800;
   
}
.middle{
    float: right;
    margin-right: 50px;
   
}




@media (max-width: 689px){
       .contain{
          flex-direction: column;
      }
      .box , .box1{
          
          margin: 20px;
      }
      .input{
          float: none;
          width: 100%;
      }
      .box1 .add{
          padding: 12px;
          font-family:'Roboto', sans-serif;
      }
      .navig{
          max-width: 300px;
          margin: 0 auto;
      }
      
     .in-card  {
    
          padding: 12px; 
          display: inline-block;
          text-align: center;
   }
   
.in-card i{
    font-size: 25px;
   
    margin-bottom: 5px;
  
}


  }


