.container{
    max-width: 1100px;
    margin: 0 auto;

}
.heading{
    background-color:white;
    font-family:'Lato', sans-serif;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 25px;
}

.name h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
     text-transform: uppercase;
}
.test button{
    border: none;
    padding: 12px;
    background-color: cornflowerblue;
    font-weight: 800;
    color: white;
    cursor: pointer;
    float: right;
}

.test button:hover{
    background-color: white;
    color: black;
    border: 2px solid cornflowerblue;
    font-weight: 750;
}

.price{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 40px;
}
.mand{
    font-family: 'Courier New', Courier, monospace;
     padding: 5px;
}
.mand i {
    display: inline;
    margin-right: 15px;
}
.price i  { 
    margin-right: 15px;
}
.test
{
    background-color: whitesmoke;
    border: 5px solid black;
    padding: 2rem;
    display: inline-block;
    margin: 40px;
}
.card1{
    display: grid;
    grid-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
}

.test:hover {
    background: white;
    box-shadow: 16px 16px 16px 16px rgba(0.2,0.2,0.2,0.2);
}
.line1{
    height: 2px;
    width: 100%;
    background: #ff9800;
    margin: 10px 0px 15px 0px;
}

@media(max-width : 769px){
     
    .test{
        margin: 17px;
        padding: 1rem;

    }
    .mand{

        padding: 10px;
    }
}

@media (max-width : 689px){

    .card1 { 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin: 0 20px 0px 20px;
    }

}
